.container {
  display: flex;
  flex-direction: column;
  border: 1px yellow solid;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}

.form_group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

.input_label {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.input_input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 90%;
  font-size: 1.5rem;
}

.modal {
  padding: 1rem;
  border: 1px red solid;
  border-radius: 10px;
  margin-top: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
