.container {
  display: flex;
  flex-direction: column;
  border: 1px yellow solid;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}

.form_group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

.input_text {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 90%;
}

.select_container {
  width: 20rem;
  color: black;
  background-color: aqua;
}

.select {
  color: rebeccapurple;
  font-weight: bold;
}

.h3 {
  border: 1px white solid;
  padding: 1rem 6rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
